
DB55/.vs/DB55/v15/.suo
DB55/.vs/DB55/v15/Server/sqlite3/storage.ide
DB55/.vs/DB55/v15/Server/sqlite3/storage.ide-shm
DB55/.vs/DB55/v15/Server/sqlite3/storage.ide-wal
DB55/DB55/bin/DB55.dll
DB55/DB55/bin/DB55.dll.config
DB55/DB55/bin/DB55.pdb
DB55/DB55/obj/Debug/DB55.csproj.CoreCompileInputs.cache
DB55/DB55/obj/Debug/DB55.dll
DB55/DB55/obj/Debug/DB55.pdb
DB55/DB55/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DB55/DB55/obj/Debug/edmxResourcesToEmbed/Models/DB55.csdl
DB55/DB55/obj/Debug/TempPE/Models.DB55.Designer.cs.dll
DB55/DB55/obj/Debug/TempPE/Models.DB55.cs.dll
DB55/DB55/obj/Debug/TempPE/Models.DB55.Context.cs.dll
DB55/DB55/obj/Debug/edmxResourcesToEmbed/Models/DB55.ssdl
DB55/DB55/obj/Debug/edmxResourcesToEmbed/Models/DB55.msl
DB55/UpgradeLog.htm
